@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
* Create the Northwind DB in SQL Server<br />
* Create a basic ASP.NET MVC C# application with no authentication<br />
* Create an Entity Framework model for the Northwind DB<br />
* Create a page to allow a search of customers with a single text box searching all varchar columns<br />
* Show results in a page<br />
* Click on a customer to see all of their orders and the order line details<br />
* Create an SQL query to show all products, how many times they have been ordered (number of orders the product appears in),<br />
 the total quantity ordered, the rank (best seller is ranked 1).<br />
Include all products, including those with no sales. </p>
