@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Pukhno Anton<br />
    Ukraine, Zaporizhia<br />
    <abbr title="Phone">Phone:</abbr>
    +38(050)503-77-34
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:pukhno.anton@gmail.com">pukhno.anton@gmail.com</a><br />
</address>